node_modules/
**/dist/
**/*.tsbuildinfo
coverage/
.DS_Store

# envs
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# playwright
.playwright/
test-results/
playwright-report/
browser-storage/

# editor
.vscode/
.idea/

# export artifacts
snipervrt.bundle
snipervrt-source.tar.gz
snipervrt-source.zip
bundle.txt
*.bundle
